<!-- <script src="../app.component.ts"></script> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: 90%">
      PROFIL
    </ion-title>
    <ion-buttons class="ion-margin-right" slot="end">
      <ion-icon slot="start" color="primary" style="font-size: 25px" 
      ios="power-outline" md="power-sharp" (click)="onLogout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-img [src]="imgLogo" alt="logo fast-it"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input [(ngModel)]="phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <H2>Adresse de livraison (par défaut)</H2>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Rue</ion-label>
            <ion-input [(ngModel)]="street" type="street"></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Ville</ion-label>
        <ion-input [(ngModel)]="City" type="City"></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
      <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Code Postale</ion-label>
        <ion-input [(ngModel)]="ZipCode" type="Zipcode"></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="ion-color-danger" *ngIf="error && error.length > 3">{{ error }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="onSubmit()" size="large">Sauvegarder</ion-button>
      </ion-col>
    </ion-row>

    <H2>Modification du mot de passe</H2>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nouveau mot de passe</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Confirmation du mot de passe</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="onSubmit()" size="large">Modifier</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>