<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
      <ion-title style="font-size: 90%" class="ion-text-center">
      DETAIL COMMANDE
    </ion-title>
    <ion-buttons class="ion-margin-right" slot="end">
      <ion-icon slot="start" color="primary" style="font-size: 25px" 
      ios="power-outline" md="power-sharp" (click)="onLogout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item><h2>N° de commande : {{ orderId }}</h2></ion-item>
  <ion-list>
    <ion-item-divider>
      <ion-label>COMMERCANT</ion-label>
      </ion-item-divider>
          <ion-item *ngIf="order.business.name"><b>Nom: {{order.business.name }}</b></ion-item>
          <!-- <ion-item ><h3>{{order.business.name}}</h3></ion-item> -->
          <ion-item *ngIf="order.business.street"><b>Adresse: </b> {{order.business.street}}</ion-item>
          <ion-item *ngIf="order.business.city"><b>Ville: </b> {{order.business.city}}</ion-item>
          <ion-item *ngIf="order.business.zipCode"> <b>Code postal: </b> {{order.business.zipCode}}</ion-item>
          <ion-item *ngIf="order.business.phone"><b>Telephone: </b> <a style="text-decoration: none" href="tel:{{order.business.phone}}">{{order.business.phone}}</a></ion-item>
          <ion-item>
            <h5>Navigation:</h5>
            <div *ngIf="order.business.street"><a
                    (click)="linkToAddresses('' + order.business.street + ', ' + order.business.zipCode + ' ' + order.business.city)">{{order.business.street}}, {{order.business.zipCode}} {{order.business.city}}</a></div>
          </ion-item>

          <ion-row>
              <ion-col class="ion-margin-top ion-margin-bottom ion-text-center">
                  <ion-button (click)="onTakenDelivery()" size="medium">Récupérer commande</ion-button><p></p>
              </ion-col>
          </ion-row>

          <ion-item-divider>
              <ion-label>CLIENT</ion-label>
          </ion-item-divider>
          <ion-item *ngIf="order.customer.addresses"><b>Nom: {{order.customer.addresses[0].name | titlecase }}</b></ion-item>
          <ion-item *ngIf="order.customer.addresses"><b>Adresse:</b> {{order.customer.addresses[0].street}}</ion-item>
          <ion-item *ngIf="order.customer.addresses"><b>Ville:</b> {{order.customer.addresses[0].city}}</ion-item>
          <ion-item *ngIf="order.customer.addresses"><b>Code postal:</b> {{order.customer.addresses[0].zipCode}}</ion-item>
          <ion-item *ngIf="order.customer.addresses && order.customer.comment"><b>Commentaire:</b> {{order.customer.comment}}</ion-item>
          <ion-item *ngIf="order.customer.addresseses"><b>Téléphone:</b> <a style="text-decoration: none" href="tel:{{order.customer.name}}">{{order.customer.name}}</a></ion-item>
          <ion-item>
            <h5>Navigation</h5>
            <div *ngIf="order.customer.addresses"><a (click)="linkToAddresses('' + order.customer.addresses[0].street + ', ' + order.customer.addresses[0].zipCode + ' ' + order.customer.addresses[0].city)">{{order.customer.addresses[0].street}}, {{order.customer.addresses[0].zipCode}} {{order.customer.addresses[0].city}}</a></div>
          </ion-item>
      
      <ion-row *ngIf="isDelivering">
          <ion-col class="ion-margin-top ion-margin-bottom ion-text-center">
              <ion-button (click)="finalizeDelivery()" size="medium">Valider </ion-button><p></p>
          </ion-col>
      </ion-row>
  </ion-list>

</ion-content>




