ion-toggle {
  --background: #D3D3D3;
  --background-checked: #d840ff;

  // --handle-background: #5cb85c;
  --handle-background: #eb445a;
  // --handle-background: #d840ff;
  --handle-background-checked: #9c06c2;
}


ion-toggle {
  width: 80px;
}

ion-toggle {
  height: 40px;
}
ion-toggle {
  --handle-spacing: 2px;
  --handle-height: 98%;
  --handle-width: 48%;
}

img {
  max-width: 50%;
  height: auto;
}